.s-lch-pane form#s-lch-post-form {
  border-top: none !important;
}

#s-lch-post-input {
  height: 10em !important;
  border: none !important;
  border-radius: var(--border-radius) !important;
  padding: 1em !important;
}

#s-lch-post-submit {
  background-color: var(--blue);
  margin-top: .5em;
  padding: 10px 15px;
}

#s-lch-post-submit:hover {
  color: var(--white);
}
